
<div id="myTabContent" class="tab-content">
    <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
        <div class="w3_agile_featured_movies">
            <div class="col-md-2 w3l-movie-gride-agile">
                <a href="single.html" class="hvr-shutter-out-horizontal">
                    <img src="images/m15.jpg" title="album-name" class="img-responsive" alt=" ">
                    <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                </a>
                <div class="mid-1 agileits_w3layouts_mid_1_home">
                    <div class="w3l-movie-text span3">
                        <h6><a href="single.html">God’s Compass</a></h6>
                        <h3>Overview</h3>
                    </div>

                </div>
                <div class="ribben">
                    <p>NEW</p>
                </div>
            </div>
            <div class="col-md-2 w3l-movie-gride-agile">
                <a href="single.html" class="hvr-shutter-out-horizontal">
                    <img src="images/m2.jpg" title="album-name" class="img-responsive" alt=" ">
                    <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                </a>
                <div class="mid-1 agileits_w3layouts_mid_1_home">
                    <div class="w3l-movie-text span3">
                        <h6><a href="single.html">Bad Moms</a></h6>
                        <h3>Overview</h3>
                    </div>

                </div>
                <div class="ribben">
                    <p>NEW</p>
                </div>
            </div>
            <div class="col-md-2 w3l-movie-gride-agile">
                <a href="single.html" class="hvr-shutter-out-horizontal">
                    <img src="images/m5.jpg" title="album-name" class="img-responsive" alt=" ">
                    <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                </a>
                <div class="mid-1 agileits_w3layouts_mid_1_home">
                    <div class="w3l-movie-text span3">
                        <h6><a href="single.html">Jason Bourne</a></h6>
                        <h3>Overview</h3>
                    </div>

                </div>
                <div class="ribben">
                    <p>NEW</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

</div>
@section Scripts{
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>


}
